<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title></title>
<link href="application.css" type="text/css" rel="stylesheet" />
</head>
<body id="kopfbody">
	<div>
		<div style="float:left">
			<p><img src="my-hobby-website/the-motodirectory/app/assets/images/Logo.png" alt="Logo"></p>
		</div>
		<div style="float:right">
   		<p>
   			<input type="text" name="name" size="30" maxlength="30" />
				<input type="image" src="my-hobby-website/the-motodirectory/app/assets/images/search.png" height="15" width="15" alt="">
			</p>
		</div>
	</div>
</body>
</html>

