
<html>
<head>
<meta charset="utf-8" />
<title></title>
<link href="application.css" type="text/css" rel="stylesheet" />
</head>
<body>
	<div id="webseite">
		<div id="kopf"><object data="kopfinhalt.html" type="text/html"></object></div>
		<!-- Das Menü muss noch hier eingeügt und erstellt werden
		<div id="menue"><object data="menueinhalt.html" type="text/html"></object></div>	
		-->
		<div id="bild"><object data="bildinhalt.html" type="text/html"></object></div>
		<div id="info"><object data="infoinhalt.html" type="text/html"></object></div>	
		<div id="inhalt"><object data="homeinhalt.html" type="text/html"></object></div>		
		<div id="fuss"><object data="fussinhalt.html" type="text/html"></object></div>
	</div>
</body>
</html>
