/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

h1{
	font-size: large;
}

/*Struktur der Webseite*/

#webseite {
  position: relative;
	width: 100%;
	min-height: 100%;
	margin: 0 auto;
	}

#kopf{
	width: 100%;
	height: 10%;
  clear: both;
	}

#fuss{
  position:absolute;
  bottom: 0;
  width: 100%;
  height: 2em;
	}

#inhalt{
	width: 100%;
  padding-bottom: 2em;
	}

#bild{
  width: 100%;
  height: 25%;
}

#info{
  width: 100%;
  height: 25%;
}

#infobox1{
  width: 33%;
  float: left;
}

#infobox2{
  width: 33%;
  float: center;
}

#infobox3{
  width: 33%;
  float: right;
}
